jupyter-book>=1.0.3  # Keeping jupyter-book up to date
jupyterlab~=3.0
ipywidgets>=7.0.0,<8
ipython~=8.6.0
Jinja2==3.1.2
openpyxl==3.0.7
sphinx~=5.0.0
numpy<2  # Avoiding incompatibilities for now
matplotlib
lxml[html_clean]


### Dependencies installed in deployment action
# compiam==0.4.0
# mirdata==0.3.9

### Optional dependencies
# keras<3.0.0
# tensorflow==2.15.0"
# torch==1.13.0
# torchaudio
# essentia