jupyter-book>=1.0.3  # Keeping jupyter-book up to date
jupyterlab~=3.0
ipywidgets>=7.0.0,<8
ipython~=8.6.0
Jinja2==3.1.2
openpyxl==3.0.7
sphinx~=5.0.0
numpy<2  # Avoiding incompatibilities for now
lxml[html_clean]


### Dependencies installed in deployment action
# compiam
# mirdata

### Optional dependencies
# tensorflow==2.9.3
# torch==1.8.0
# essentia